<div class="example-container">
    <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="50" placeholder="Nombre">
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="50" placeholder="Localidad">
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="50" placeholder="Teléfono">
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="50" placeholder="E-Mail">
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="50" placeholder="Cuit">
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
        <mat-label>Cars</mat-label>
        <select matNativeControl required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </mat-form-field> -->
</div>
<section>
    <div class="example-button-row">
        <button mat-raised-button color="primary">Guardar</button>
    </div>
</section>