<section>
  <h1>Tipos</h1>
</section>

<section>
  <table mat-table [dataSource]="this.datosTabla" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Numero Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="id_tipo">
      <th mat-header-cell *matHeaderCellDef> Tipos </th>
      <td mat-cell *matCellDef="let element"> {{element.id_tipo}} </td>
    </ng-container>

    <!-- Localidad Column -->
    <ng-container matColumnDef="clase">
      <th mat-header-cell *matHeaderCellDef> Clase </th>
      <td mat-cell *matCellDef="let element"> {{element.clase}} </td>
    </ng-container>
    <!-- Acciones -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
          (click)="onPressE(element.id_tipo, element.clase)">Editar</button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
<br>
<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="onPressA()">Agregar Tipo</button>
    <!-- <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->

  </div>
</section>
<br>
<div id="comp-render" *ngIf="display">
  <app-formtipos></app-formtipos>
</div>

<div id="comp-render" *ngIf="displayupdate">
 
 <div class="example-container">
    <form [formGroup]="this.formTipos">

      <mat-form-field hintLabel="Max 50 caracteres" appearance="fill">
        <mat-label>Cambiar nombre</mat-label>
        <input matInput maxlength="50" formControlName="nombre">
      </mat-form-field>

      <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Ingrese datos</mat-label>
        <input matInput maxlength="50" formControlName="id_tipo" readonly>
      </mat-form-field>

      <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput maxlength="50" formControlName="clase" readonly>
      </mat-form-field>

    </form>
  </div>
  <section>
    <div class="example-button-row">
       <button mat-raised-button color="primary" (click)="actualizaTipos()">Guardar</button> 
    </div>
  </section>
</div> 