<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <!-- <button mat-icon-button>
            <mat-icon >menu</mat-icon>
          </button> -->
            <a *ngIf="this.authService.isAuthenticate()" mat-button [routerLink]="'/stock'">
                <h1>Distribuidora San Miguel</h1>
            </a>


            <span class="menu-spacer"></span>
            <div>
                <a *ngIf="this.authService.isAuthenticate()" mat-button [routerLink]="'/stock'"> Stock </a>
                <a *ngIf="this.authService.isAuthenticate()" mat-button [routerLink]="'/productos'"> Productos </a>
                <a *ngIf="this.authService.isAuthenticate()" mat-button [routerLink]="'/proveedores'"> Proveedores </a>
                <a *ngIf="this.authService.isAuthenticate()" mat-button [routerLink]="'/pedidosproveedores'"> Pedidos a Proveedores </a>
                <a *ngIf="this.authService.isAuthenticate()" mat-button [routerLink]="'/pedidosventa'"> Pedidos de Ventas </a>
                <a *ngIf="this.authService.isAuthenticate()" mat-button [routerLink]="'/tipos'"> TIPOS </a>
                <a *ngIf="this.authService.isAuthenticate()" mat-button (click)="logout()"> Salir</a>


            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</p>