<form [formGroup]="this.formLogin">
<div class="formulario">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><img src="../../../assets/huehue.jpg" alt="LOGO" style="width: 80%;"></mat-card-title>
          <mat-card-subtitle>Login</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Documento</mat-label>
                    <input matInput formControlName="documento">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput formControlName="clave">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color= "primary" (click)="hacerLogin()">Login</button>
        </mat-card-actions>
      </mat-card>
</div>



   
</form>
