<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Usuario</mat-label>
    <input matInput placeholder="Usuario">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <input matInput placeholder="Contraseña">
  </mat-form-field>
</form>

<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary">Ingresar</button>
    <!-- <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->
  </div>
</section>