.example-card {
    max-width: 400px;
    
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .formulario{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }