<section>
  <h1>Productos</h1>
</section>

<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="onPressA()">Agregar Productos</button>
    <!-- <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->
  </div>
</section>
<br>
<div id="comp-render" *ngIf="display">
  <app-formproductos></app-formproductos>
  <br>
</div>

<div id="comp-render" *ngIf="displayupdate">

  <div class="example-container">
    <form [formGroup]="this.formProductos">

      <mat-form-field hintLabel="Max 50 caracteres" appearance="fill">
        <mat-label>Cambiar nombre</mat-label>
        <input matInput maxlength="50" formControlName="nombre">
      </mat-form-field>

      <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Cambiar ID Tipo</mat-label>
        <input matInput maxlength="50" formControlName="id_tipo">
      </mat-form-field>

      <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Editar ID Proveedor</mat-label>
        <input matInput maxlength="50" formControlName="id_proveedor">
      </mat-form-field>

      <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Editar Peso</mat-label>
        <input matInput maxlength="50" formControlName="peso">
      </mat-form-field>

      <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
        <mat-label>Editar Precio</mat-label>
        <input matInput maxlength="50" formControlName="precio">
      </mat-form-field>

      <!-- <mat-form-field hintLabel="Max 50 characteres" appearance="fill">
      <mat-label>Enter some input</mat-label>
      <input matInput  maxlength="50" placeholder="Activo" formControlName="activo">
      <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
  </mat-form-field> -->

      <!-- <mat-form-field appearance="fill">
      <mat-label>Cars</mat-label>
      <select matNativeControl required>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
      </select>
  </mat-form-field> -->
    </form>
  </div>
  <section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="actualizaProducto()">Guardar</button>
    </div>
  </section>
  <br>
</div>

<section>
  <table mat-table [dataSource]="this.datosTabla" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id_producto">
      <th mat-header-cell *matHeaderCellDef> ID Producto</th>
      <td mat-cell *matCellDef="let element"> {{element.id_producto}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="id_tipo">
      <th mat-header-cell *matHeaderCellDef> ID Tipo </th>
      <td mat-cell *matCellDef="let element"> {{element.id_tipo}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="id_proveedor">
      <th mat-header-cell *matHeaderCellDef> ID Proveedor </th>
      <td mat-cell *matCellDef="let element"> {{element.id_proveedor}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="peso">
      <th mat-header-cell *matHeaderCellDef> Peso </th>
      <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> <b>${{element.precio}}</b> </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef> Activo </th>
      <td mat-cell *matCellDef="let element"> {{element.activo}} </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
          (click)="onPressE(element.id_producto)" style="margin-right: 10px;">Editar</button><button mat-raised-button
          color="primary" (click)="bajaProducto(element.id_producto)">Eliminar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>

